.alert-bg{
    display:flex;
    justify-content:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#18181884;
    z-index:500;
}
.alert-container{
    position:fixed;
    bottom:360px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:90%;
    padding:4% 5%;
    border-radius:10px;
    background-color:#FFF;
    z-index:500;
}
.alert-icon{
    height:30px;
    width:30px;
    margin:10px auto;
    color:var(--orange);
}
.alert-text{
    font-size:1.4rem;
    font-weight:300;
    color:#181818;
    text-align:center;
}
.alert-btn{
    cursor:pointer;
    display:flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size:1.4rem;
    text-align:center;
    border:1px solid transparent; 
    margin:10px;
    padding:2% 2%;
    border-radius:40px;
    color:#FFF;
    background-color:var(--darkpurple);
    opacity:0.8;
}
.alert-btn:hover{
    opacity:1;
}
.highlight-t{
    color:#FCA00D;
}
.highlight-h{
    color:var(--darkpurple);
}