input{
    display:flex;
    height:30px;
    width:90%;
    border:1px solid transparent;
    border-radius: 5px;
    margin:0 auto;
    padding:3% 4%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
}