:root{
    --darkpurple:#645CAA;
    --light_darkpurple:#A084CA;
    --lightpurple:#BFACE0;
    --lila:#EBC7E8;
    --vpurple:#CA82FF;
    --vdarkpurple:#A760FF;
    --lightorange:#FFDAAF;
    --orange:#FFCC8F;
}