.modal-container{
    display:flex;
    flex-direction:column;
    position:fixed;
    justify-content: center;
    align-items: center;
    top:-10px;
    left:-10px;
    right:-10px;
    bottom:-10px;
    font-size:2.4rem;
    color:#FFF;
    background-color:#18181895;
    max-width: 600px;
}

@media (min-width:1024px){
    .modal-container{
        margin: 0 auto;
    }
}