.taskCounter{
    text-align:center;
    font-size:2.4rem;
    font-weight:300;
    color:#FFF;
    margin:15px 0;
}
.taskCounter span{
    color:var(--orange);
}

.taskCounter--loading{
    opacity:45%;
}