section{
    display:flex;
    flex-direction:column;
    width:90%;
    justify-content:flex-start;
    margin:15px auto 0;
    padding:4% 5%;
    border-radius:10px;
    background-color:#FFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card-heading-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.card-heading-container h2{
    font-size:2.4rem;
    font-weight: 300;
    color:#181818;
    text-align:left;
}
i{
    cursor:pointer;
    margin-right: 10px;
    font-size: 2.4rem;
    color:var(--darkpurple);
    opacity:0.8;
    transition:0.3s ease;
    transform: rotate(0); 
}
i:hover{
    opacity:1;
    transform: rotate(20deg);

}

ul{
    list-style: none;
}
li::marker{
    color:transparent;
}